#right-main-content {
    position: relative;
    height: auto;
}

.container {
    width: auto; /* adjust with parent div */
}

fieldset {

    display: none;
    border: none;

}

#progressBar ul li.active {
    background: red;
    color: #ffecb3;
}

#progressBar ul {
    list-style-type: none;
}

#progressBar ul li {
    width: 19%;
    float: left;
    positon: relative;
    background: white;
    text-align: center;
}

#progressBar {
    margin-bottom: 30px;
}

#right-main-content label,
#right-main-content p {
    font-size: 16px;
}

/* multistep form */

#msform {
    border: 2px solid red;
    width: auto;
    height: 440px;
    text-align: center;
    margin-top: 10px;

}

.btn {
    background-color: #ff0000;
    color: #ffecb3;
}

.btn:hover,
.btn:focus {
    color: #ffecb3;
    border: 2px solid red;
}

input{
    border: 2px solid red;
}

input:focus {
    border: 2px solid red;
    outline: red;
    box-shadow: inset 0 1px 1px rgba(255, 7, 154, 0.07), 0 0 8px rgb(255, 0, 0);
}

/*boxes sizes */

.boxes ul {
    list-style-type: none;
    overflow: auto;
}

.boxes ul li {
    display: inline-block;
    margin-left: 20px;

}

#box1 {
    height: 100px;
    width: 40px;
    border: 2px solid red;
    vertical-align: middle;

}

#box2 {
    height: 50px;
    width: 100px;
    border: 2px solid red;
    vertical-align: middle;
}

#box3 {
    height: 75px;
    width: 80px;
    border: 2px solid red;
    vertical-align: middle;

}

#box4 {
    height: 50px;
    width: 144px;
    border: 2px solid red;
    vertical-align: middle;
}

#box5 {
    height: 80px;
    width: 60px;
    border: 2px solid red;
    vertical-align: middle;
}

#box1:hover,
#box2:hover,
#box3:hover,
#box4:hover,
#box5:hover {
    border: 2px solid red;
    outline: red;
    box-shadow: inset 0 1px 1px rgba(255, 7, 154, 0.07), 0 0 8px rgb(255, 0, 0);
}

#box1:focus,
#box2:focus,
#box3:focus,
#box4:focus,
#box5:focus {
    border: 4px solid red;
    outline: red;
    background-color: #ffecb3;
    box-shadow: inset 0 1px 1px rgba(255, 7, 154, 0.07), 0 0 8px rgb(255, 0, 0);
}

.boxes ul li.selected {
    border: 4px solid blue !important;
}

#upload-file-info {
    background-color: red;
    font-size: 14px;
}
#page-header h3,.steps{
    font-weight: bold;
    color:#660000;
}


