.sidebar {
    margin-top: 54px;
    width: 260px;
    background-color: #660000;
    color: #ffecb3;
    min-height: calc(100% - 54px);
    overflow: auto;
    position: absolute;

}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav > li > a {
    color: #ffecb3;
    display: block;
    text-decoration: none;
}

.sidebar-nav > li > a:hover {
    color: red;
    background-color: #ffecb3;
}

.sidebar-nav > li > a:active,
.sidebar-nav > li > a:focus {
    color: #ffecb3;
    background-color: red;

}

.main-panel {

    position: absolute;
    margin-left: 264px;
    margin-top: 54px;
    width: calc(100% - 268px);
    min-height: calc(100% - 54px);
    background-color: #ffecb3;
}


