.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 50%;
    margin: auto;
}
.carousel-inner > .item.active {
    background-color: transparent;
}
.slide{
    background-color:transparent;

}