.navbar {
    background-color: #660000;
}

.nav.navbar-nav li a {
    color: #ffecb3;
}
.navbar .navbar-nav > li.open > a,
.navbar .navbar-nav > li.open > ul,
.navbar .navbar-nav > li.open > ul > li > a { /*for navbar list*/
    background-color: #ffecb3; /*golden color*/
    color: black;
}

.navbar .navbar-nav > li.open > ul > li > a:hover { /*dropdown menu list color*/
    color: red;
    background-color: white;
}
ul.nav a:hover, ul.nav a:focus, ul.nav a:active { /* for  navbar hover color*/
    background-color: #ffecb3;
    color: black;
}
.active {
    background-color: red;
    color:#ffecb3;
}
