
body {
    font: small arial, sans-serif;
    color: #660000;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.card {
    width: 100%;
    margin-top: 10px;
    background-color: #F7F7F7;
    padding: 20px 20px 20px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-register input[type=email],
.form-register input[type=password],
.form-register input[type=text],
.form-register input[type=url] {
    width: 450px;
    display: block;
    margin: 20px auto 20px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-color: #660000;
    border-radius: 2px;
}

.form-register button {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-color: #660000;
    border-radius: 2px;

}

.form-register .form-control:focus,
.form-register .form-control:hover {
    border-color: red;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
}

.btn.btn-register {
    background-color: #660000;
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-register:hover,
.btn.btn-register:active,
.btn.btn-register:focus {
    background-color: red;
    color: #ffecb3;
}

.forgot-password {
    color: #660000;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
    color: red;
}

.header {
    width: 100%;
    margin-top: 60px;

}

h2 {

    font-family: "Arial Verdana", Sans-serif;
    font-size: 3em;

}
