 #trackTable >thead >tr >th,
 #trackTable>tbody>tr>td{
    border: 2px solid red;
}

#copybtn{
    background-color: red;
    border-color: red;
}
#copybtn:hover{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    border: 2px solid red;
}
 #page-header h3{
     font-weight: bold;
     color:#660000;
 }

