body {
    font: small arial, sans-serif;
}


.icon-bar {

    color: red;
}

.row {
    width: 100%;
}

.banner {
    background-color: #660000;
}

.banner .container > #social.col-lg-4 ul > li { /* for social buttion */
    float: right;
    margin-top: 15px;
}

.banner .container > #contact.col-lg-4 ul > li,
.banner .container > #contact.col-lg-4 ul > li > a { /* for contatct list*/

    margin-top: 25px;
    color: #ffecb3;
}

.banner .container > #contact.col-lg-4 ul > li > a:hover {
    color: red;
}

.content-section-a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-section-b {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffecb3;

}




#intro-stackTop {
    position: absolute;
    width: 80%;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 100px;
    margin-left: 100px;
}

#intro-stackTop > a {
    background-color: red;
    border-color: red;
}

#intro-stackTop > a:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-color: #ffecb3;
}

p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.667;

}

h2 {
    font-family: "Arial Verdana", Sans-serif;
    font-size: 2.441em;
}

h1 {

    font-family: "Arial Verdana", Sans-serif;
    font-size: 3em;

}
