<!DOCTYPE html>
<html lang="en" ng-app="adproModule">
<head>
    <link rel="icon" href="img/favicon39x30.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>AdPro</title>
    <!--angular-->
    <script src="angularjs/angular.min.js">
    </script>
    <script src="angularjs/angular-route.js">
    </script>
    <script src="angularjs/Script.js">
    </script>
    <script src="angularjs/LoginController.js">
    </script>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/LoginStyle.css" rel="stylesheet">
    <link href="css/NavbarStyle.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/loginJs.js"></script>
</head>
<body ng-controller="loginController">
<!-- nabar start-->
<nav class="navbar  navbar-fixed-top ">
    <!--  navbar is a simple wrapper for positioning branding, navigation, and other elements into a concise navigation header. -->
    <div class="container-fluid"> <!--for a full width container, spanning the entire width of your viewport.-->
        <!-- logo-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                <!-- for toggle button -->
                <span class="icon-bar" style="   background-color:red"> </span>
                <span class="icon-bar" style="   background-color:red"></span>
                <span class="icon-bar" style="   background-color:#ffecb3"></span>
                <span class="icon-bar" style="   background-color:#ffecb3"></span>
            </button>
            <div class="navbar-brand"><a href="index.html"><img src="img/logo57x16.png"/> </a>
                <!--for your company, product, or project name-->
            </div>
        </div>
        <!-- menu-->
        <div class="collapse  navbar-collapse" id="mainNavBar">
            <!-- right  menu-->
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="regForm.html">Try it out</a></li>
                <li><a href="#">country logo</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--end of nabar-->
<!--start of login page-->
<div>
    <div class="container">
        <div class="card card-container">
            <a href="index.html"><img style=" margin-left: auto;
                margin-right: auto; margin-bottom: 30px;  display: block;" src="img/logo128x30.png"/></a>
            <img id="profile-img" class="profile-img-card" src="img/login192x192.png"/>
            <!-- form-->
            <form class="form-signin" ng-submit="submitFormLogin()">
                <input type="email" id="inputEmail" ng-model="credential.emailId" class="form-control"
                       placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword" ng-model="credential.password" class="form-control"
                       placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form>
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
</div>
<div class="footer">
    <div class="container">
        <img src="img/mainLogo640x564.png" style="display:block; margin:10px auto 10px; " width="60px" height="50px"/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright text-muted small" align="middle">Copyright &copy; Company 2016. All Rights
                    Reserved</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>