<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="img/favicon39x30.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>AdPro</title>
    <script src="angularjs/angular.min.js">
    </script>
    <script src="angularjs/angular-route.js">
    </script>
    <script src="angularjs/Script.js">
    </script>
    <script src="angularjs/ReigstrationController.js">
    </script>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/RegFormStyle.css" rel="stylesheet">
    <link href="css/NavbarStyle.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script src="js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!--angular js script-->
</head>
<body ng-app="adproModule" ng-controller="registrationController">
<nav class="navbar  navbar-fixed-top ">
    <!--  navbar is a simple wrapper for positioning branding, navigation, and other elements into a concise navigation header. -->
    <div class="container-fluid"> <!--for a full width container, spanning the entire width of your viewport.-->
        <!-- logo-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                <!-- for toggle button -->
                <span class="icon-bar" style="   background-color:red"> </span>
                <span class="icon-bar" style="   background-color:red"></span>
                <span class="icon-bar" style="   background-color:#ffecb3"></span>
                <span class="icon-bar" style="   background-color:#ffecb3"></span>
            </button>
            <div class="navbar-brand"><a href="index.html"><img src="img/logo57x16.png"/> </a>
            </div>
        </div>
        <!-- right  menu-->
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="loginForm.html">Login </a></li>
            <li><a href="#">country logo</a></li>
        </ul>
    </div>
    </div>
</nav>
<!--end navigation section-->
<!--FORM SECTION STARTS-->
<div class="header">
    <a href="index.html"><img src="img/logo128x30.png"
                              style="display:block; margin-left:auto; margin-right:auto;"/></a>
</div>
<div class="card">
    <div class="container">
        <!-- form-->
        <h2 align="middle">Start Serving Ads</h2>
        <form class="form-register" ng-submit="submitForm()">
            <input type="text" placeholder="Enter First Name Here.." class="form-control"
                   ng-model="user.firstName" required autofocus>
            <input type="text" placeholder="Enter Last Name Here.." class="form-control"
                   ng-model="user.lastName" required>
            <input type="email" id="inputEmail" ng-model="user.emailId" class="form-control"
                   placeholder="Email address.." required>
            <input type="password" id="inputPassword" ng-model="user.password" class="form-control"
                   placeholder="Password.." required>
            <input type="url" placeholder="Enter Website Name Here.." class="form-control"
                   ng-model="user.sites[0].siteUrl" required>
            <p align="middle"> By submitting this form,you accept our <a style="color:red;">Terms of Service</a></p>
            <button class="btn btn-lg btn-primary btn-block btn-register" type="submit">Register</button>
        </form>
    </div><!-- /card-container -->
</div><!-- /container -->
<div class="footer">
    <div class="container">
        <img src="img/mainLogo640x564.png" style="display:block; margin:10px auto 10px; " width="60px" height="50px"/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright text-muted small" align="middle">Copyright &copy; Company 2016. All Rights
                    Reserved</p>
            </div>
        </div>
    </div>
</div>
</body>