<div id="page-header">
    <h3 align="middle">Campaign</h3>
</div>


<div id="right-main-content">

    <div class="container">
        <div class="row">
            <div id="progressBar">
                <ul>
                    <li class="active"><label>Start</label></li>
                    <li><label>Add Ads</label></li>
                    <li><label>Cost</label></li>
                    <li><label>Target Audience</label></li>
                    <li><label>Review & Finish</label></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <form id="msform">
                <fieldset>
                    <div>
                        <h3 class="steps">Step 1 / 4</h3>
                        <p>Start campaign for ads by adding Campaign name</p>
                        <input type="text" size="35" placeholder="Enter campaign name....eg facebook Ads" ng-model="camapign.name"><br>
                        <p>Click <b>"Start" </b>to begin</p>
                    </div>
                    <button type="button" class="next btn">Start</button>
                </fieldset>
                <fieldset>
                    <div>
                        <h3 class="steps">Step 2 / 4</h3>
                        <p>Choose standard Ads size from the list below </p>
                        <div class="boxes">
                            <ul>
                                <li id="box1">
                                    <label>160<br>x<br>600</label>
                                </li>
                                <li id="box2">
                                    <label>728x90</label>
                                </li>
                                <li id="box3">
                                    <label>300x250</label>
                                </li>
                            </ul>
                        </div>
                        <p>We also support the following ad sizes</p>
                        <div class="boxes">
                            <ul>
                                <li id="box4">
                                    <label>320x50 mobile only</label>
                                </li>
                                <li id="box5">
                                    <label>300<br>x<br>600</label>
                                </li>
                            </ul>
                        </div>
                        <!--file chooser portion-->

                        <label class="btn btn-file">
                            Browse Ads <input type="file" accept="image/*"
                                              onchange='$("#upload-file-info").html($(this).val());'
                                              style="display:none;" ng-model="camapign.adsName">
                        </label>
                        <span class='label label-info' id="upload-file-info"></span>
                    </div>
                    <br>
                    <button type="button" class="back btn">Back</button>
                    <button type="button" class="next btn">Next</button>
                </fieldset>
                <fieldset>
                    <div>
                        <h3 class="steps">Step 3/ 4</h3>
                        <p>Choose your Budget method</p>
                        <select class="form-control" style="border:2px solid red;width:50%;display:inline-block" ng-model="camapign.cost">
                            <option>Daily 1$</option>
                            <option>Weekly 5$</option>
                            <option>Monthly 25$</option>
                            <option>Yearly 250$</option>
                            <option>Alternatively daily 1$</option>
                        </select>
                        <br><label>Schedule</label>
                        <div>
                            <label>Start:</label>
                            <input class="datepicker" ng-model="camapign.start"/>
                            <label>end:</label>
                            <input class="datepicker" ng-model="camapign.end"/>
                        </div>
                    </div>
                    <br>
                    <button type="button" class="back btn">Back</button>
                    <button type="button" class=" btn next">Next</button>
                </fieldset>
                <fieldset>
                    <div>
                        <h3 class="steps">Step 4/ 4</h3>
                        <label>Choose location</label><br>
                        <select class="form-control" style=" border:2px solid red;width:50%;display:inline-block" align="center" ng-model="camapign.location">
                            <option>Kathmandu</option>
                            <option>Pokhara</option>
                            <option>Biratnagar</option>
                            <option>Bhairawa</option>
                            <option>Mahendragnagar</option>
                        </select>
                        <br> <label>Choose gender</label>
                        <div class="checkbox"ng-model="camapign.gender">
                            <label><input type="checkbox" value="">Male </label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Female</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Both </label>
                        </div>
                    </div>
                    <button type="button" class=" btn back">Back</button>
                    <button type="button" class=" btn next">Preview</button>
                </fieldset>
                <fieldset>
                    <div>
                        <h3>Review and finish</h3>
                        <table style="text-align:left; margin-left:5px;">

                            <tr>
                                <td><label>Camapign Name: {{campaign.name}}</label></td>
                            </tr>
                            <tr>
                                <td><label>Ad file name:{{campaign.adsName}}</label></td>
                            </tr>
                            <tr>
                                <td><label>Ad size:{{campaign.size}}</label></td>
                            </tr>
                            <tr>
                                <td><label>Budget:{{campaign.cost}}</label></td>
                            </tr>
                            <tr>
                                <td><label>Start:{{campaign.start}}</label></td>
                            </tr>
                            <tr>
                                <td><label>End:{{campaign.end}}</label>
                            <tr>
                                <td><label>Location:{{campaign.location}}</label></td>
                            </tr>
                            <tr>
                                <td><label>Gender:{{campaign.gender}}</label></td>
                            </tr>
                        </table>
                    </div>
                    <button type="button" class=" btn back">Back</button>
                    <button type="button" class="btn preview">Finish</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
