<div id="page-header">
    <h3 align="middle">Sites List</h3>
</div>
<div id="main-content">
    <table  id="trackTable" class="table table-bordered">
        <thead>
        <tr>
            <th >Sites Name</th>
            <th>Tracking Url</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="site in sites">
            <td>{{site.siteName}}</td>
            <td>
                <textarea class="form-control" rows="5" cols="100">
                    <script type="text/javascript">
                        var xhttp = new XMLHttpRequest();
                        xhttp.open("POST", "{{site.trackingUrl}}", true);
                        xhttp.send();
                    </script>
                </textarea>
                <br/>
                <a id="copybtn" href="#" class="btn btn-success btn-sm" role="button" >COPY THIS</a>
                <br/>
            </td>

        </tr>

        </tbody>

    </table>
</div>
