<div id="page-header">
    <h3 align="middle">User profile</h3>
</div>
<div id="main-content">
    <table>
       <tr>
           <td>First Name:</td>
            <td> <input type="text" value="{{user.firstName}}"></td>
        </tr>
       <tr>
           <td>Last Name:</td>
           <td><input type="text" value="{{user.lastName}}"></td>
       </tr>
       <tr><td>Email:</td>
           <td><input type="text" value="{{user.emailId}}"></td>
        </tr>

</div>
