<div id="page-header">
    <h3 align="middle">Welcome to the Family</h3>
</div>
<div id="right-main-content">
    <div class="container">
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>

            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="img/registration.png" alt="Chania" width="460" height="345">
                    Register
                </div>
                <div class="item">
                    <img src="img/campaign.png" alt="Chania" width="460" height="345">
                </div>

                <div class="item">
                    <img src="img/track.png" alt="Chania" width="460" height="345">
                </div>

                <div class="item">
                    <img src="img/web-analytics-tool.png" alt="Flower" width="460" height="345">
                </div>

                <div class="item">
                    <img src="img/yourAd.png" alt="Flower" width="460" height="345">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <a href="#/campaign" class="btn btn-primary btn-md">Start Now</a>


    </div>

</div>
