<div class="page-header">
    <h3 align="middle">visitors List</h3>
</div>
<div id="main-content">
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>siteId</th>
            <th>ip address</th>
            <th>user-agent</th>
            <th>time</th>
            <th>latitude</th>
            <th>longitude</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="visitor in visitors">
            <td>{{visitor.id}}</td>
            <td>{{visitor.site_id}}</td>
            <td>{{visitor.ip_address}}</td>
            <td>{{visitor.user_agent}}</td>
            <td>{{visitor.time}}</td>
            <td>{{visitor.latitude}}</td>
            <td>{{visitor.longitude}}</td>
        </tr>
        </tbody>
    </table>
</div>
